.question_page {
  position: relative;
  width: 100vw;
  margin: auto;
  background: url("../../assets/new-question.svg") right top no-repeat;
  background-size: contain;
}
.new_question {
  width: 40%;
  margin: 4rem auto;
  border: 1px solid #3178c6;
}
.new_question h1 {
  text-transform: uppercase;
  border-bottom: 1px solid #3178c6;
  text-align: center;
  padding: 1rem;
  background-color: #3178c6;
  color: #fff;
  margin: 0;
}
.question_form {
  padding: 1rem;
}
.question_form div {
  text-align: center;
  font-weight: 800;
  font-size: 1.3rem;
}
.input_field {
  display: block;
  margin-bottom: 1rem;

  width: 90%;
  margin: 1.2rem auto;
  padding: 0.7rem 2.4rem;
  border-radius: 5px;
  border: 1px solid #777;
  outline: none;
  font-size: 1rem;
}
.btn_block {
  display: block;
  width: 90%;
  margin: auto;
  padding: 0.6rem 3.5rem;
  border-radius: 5px;
  font-weight: 600;
  background: #24578d;
  color: #fff;
  border: none;
  transition: all 400ms ease-in-out;
}
.btn_block:hover {
  cursor: pointer;
  background: #3178c6;
}
.close {
  position: absolute;
  display: block;
  top: 0;
  left: 15px;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/left-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  font-size: 0;
  border: none;
  outline: none;
}
@media only screen and (max-width: 1200px) {
  .question_page {
    background: #fff;
  }
  .new_question {
    width: 60%;
  }
}
@media only screen and (max-width: 800px) {
  .question_page {
    background: #fff;
  }
  .new_question {
    width: 90%;
  }
}
